{% set baseDir = "../" %}
{% set page = "page-band" %}

{% extends 'master.njk' %}

{% block nav %}

	{% include "partials/nav.njk" %}

{% endblock %}

{% block content %}

	{% include 'partials/band.njk' %}

{% endblock %}