<ul class="button-list">
	<li>
		<a href="{{baseDir}}albumes/index.html" class="button button-inverse">
			<i class="icon-vynil"></i>
			<span>Álbumes</span>
		</a>
	</li>
	<li>
		<a href="https://store.gojira-music.com/" class="button" target="_blank">
			<i class="icon-local_grocery_store"></i>
			<span>Comprar</span>
		</a>                       
	</li>
</ul>