<footer>
	<span class="copyright-info">© <span> Copyright 2021 </span></span>
	<ul>
		<li>
			<a href="https://open.spotify.com/artist/0GDGKpJFhVpcjIGF8N6Ewt?si=CpBCMDarQzmwPvESYhaK-w" class="navbar-item"><i class="icon-spotify"></i></a>
		</li>
		<li>
			<a href="https://instagram.com/official" class="navbar-item"><i class="icon-instagram"></i></a>
		</li>
		<li>
			<a href="https://twitter.com/music" class="navbar-item"><i class="icon-twitter"></i></a>
		</li>
		<li>
			<a href="https://www.facebook.com/music" class="navbar-item"><i class="icon-facebook"></i></a>
		</li>
	</ul>
</footer>