<!DOCTYPE html>
<html lang="es-ES" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Gojira Website</title>
    <meta name="author" content="Pablo Bermejo">
    <meta name="description" content="Una página web de tributo al grupo Gojira">
    <meta name="keywords" content="gojira, metal, música">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{baseDir}}css/main.css">
  </head>
  <body>