{% set baseDir = "../" %}
{% set page = "page-tour" %}

{% extends 'master.njk' %}

{% block nav %}

	{% include "partials/nav.njk" %}

{% endblock %}

{% block content %}

	{% include 'partials/tour.njk' %}

{% endblock %}