{% set baseDir = "../" %}
{% set page = "page-albums" %}

{% extends 'master.njk' %}

{% block nav %}

	{% include "partials/nav.njk" %}

{% endblock %}

{% block content %}

	{% include 'partials/album-list.njk' %}

{% endblock %}