%fade-in{
	animation-name:  fadein;
	animation-duration: 1s;
}
%radius{
	border-radius: 0.15rem;
}
%shadow{
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
%outline{
	outline: 3px solid var(--color-01);
	outline-offset:0em;
}
%inclusively-hidden{
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}
.inclusively-hidden{
	@extend %inclusively-hidden;
}

%hover-underline-animation {
  display: inline-block;
  position: relative;
	cursor: pointer;
  
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background: var(--color-01);  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, var(--color-01), var(--color-01));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, var(--color-01),var(--color-01)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  &:active::after,
	&:hover::after,
	&:focus::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}